# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.production

# [OLD] Documentation guides
Deployment.md
images.md

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tgz
